/* 样式变量 */
// 颜色
$bg-top: #20232a; // 导航栏背景色
$bg-left: #EBEDEF; // 侧栏背景色
$gray: #717171; // 字体灰色
$black: #393939; // 字体黑色
$offWhite: #e6e7e8; // 灰白色
$color: #20232a; // 主题色
$red: #BF3D3D; // 红色
$green: #218E21; // 绿色

// 布局
$top-height: 64px; // 导航栏高度
$left-width: 240px; // 侧边栏宽度
$min-width: 1000px; // 浏览器可视区域最小宽度